


#mvArea .mvList li:last-child .mvImg img {
    -o-object-position: -90px 30px!important;
    object-position: -90px 30px!important;
}
#mvArea .mvList li:last-child {
    animation-delay: 5s;
}

@media (min-width: 992px) {
    #mvArea .mvList li:last-child .mvImg img {
        -o-object-position: center center!important;
        object-position: center center!important;
    }
    #mvArea .mvList li:last-child {
        animation-delay: 10s;
    }
    #mvArea .mvList li:nth-child(2) {
        animation-delay: 5s;
    }

}