@use "custom" as *;


@media (min-width: 576px) {  }


@include media-breakpoint-up(lg){
    .fill-lg-dark {
        fill: var(--dark);
    }
    .fill-lg-yellow{
        fill: var(--yellow);
    }
    .dropmenu {
        &::after {
            border-top: 3px solid var(--dark);
        }
    }
}

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }