nav a.active {
    position: relative;
    &::before {
        content: '';
        width: 100%;
        position: absolute;
        height: 4px;
        bottom: -5px;
        left: 0;
        background-color: var(--yellow);
    }
}

.dropmenu {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 0;
        border-top: 3px solid var(--white);
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
    }
}

.lang-menu {
    position: absolute;
    right: 0;
    list-style: none;
    background-color: var(--white);
    padding: 1rem 1.5rem;
    text-align: center;
    border: 1px solid var(--dark);
    font-family: anton, sans-serif;
    text-transform: uppercase;
    li {
        margin: .5rem 0;
    }
    a {
        text-decoration: none;
    }

}