@import "functions";
@import "variables";
//@import "../node_modules/bootstrap/scss/maps";
@import "mixins";
@import "containers";
@import "grid";
@import "utilities";
@import "utilities/api";
//@import "component";

.cursor-pointer {
    cursor: pointer;
}
//background-color
.bg-red {
    background-color: var(--red);
}
//font-family
.font-custom{
    font-family: var(--font-custom);
}
.sans-serif {
    font-family: var(--font-sans-serif);
}
.serif {
    font-family: var(--font-serif);
}
.outline-none{
    outline: none;
}
//flex
.flex-basis-0{
    flex-basis: 0;
}
.list-style-none {
    list-style: none;
}
.overflow-hidden {
    overflow: hidden;
}
.user-select-none{
    user-select: none;
}
// padding
//@mixin rulesize ()

