:root {
    // color
    --white : rgb(255, 255, 255); //#ffff;
    --dark : rgb(19, 19, 19); //#131313;
    --grey : rgba(19, 19, 19, 80%); 
    --grey-20 : rgba(19, 19, 19, 20%);
    --yellow : rgb(255, 212, 0); //#ffd400
    --red: rgb(255, 0, 50);
    --blue:rgb(255, 0, 50);
    // font
    --font-serif: serif;
    --font-sans-serif: poppins,sans-serif; 
    --font-custom: anton;
}
