@use "../../../scss/custom" as *;


@media (min-width: 576px) {  }

$lg : 1200px;
@include media-breakpoint-up(lg){
    %minwidth {
        min-width: $lg;
    }
    main {
        @extend %minwidth;
    }
    .fill-lg-dark {
        fill: var(--dark);
    }
    .fill-lg-yellow{
        fill: var(--yellow);
    }
    .dropmenu {
        &::after {
            border-top: 3px solid var(--dark);
        }
    }
    .nav {
        opacity: .95;
        box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
        animation: startHeader 2.5s;
 
        .navigationPC{
            width: 421px;
            li{
                margin-right: 80px;
            }
            li:nth-last-child(-n+2) {
                margin-right: 0;
            }
        }
    }
    %mvarea {
        text-align: right;
        position: absolute;
        left: calc(50% - 360px);
        opacity: 0;
        width: 720px;
        height: 160px;
    }
    #mvArea{
        @extend %minwidth;
        height: 100vh;
        &::before{
            @extend %mvarea;
            content: '';
            display: inline-block;
            background: var(--yellow);
            z-index: 100;
            animation: startBox 5s;
            transform: unset;
            transition: none;
        }
        &::after{
            @extend %mvarea;
            content: "DAILYHOPELESS";
            color: var(--dark);
            font-size: 3rem;
            font-family: anton,sans-serif;
            padding: 2rem 2rem 0 0;
            line-height: 3.333;
            box-sizing: border-box;
            z-index: 101;
            animation: startTxt 5s;
        }
        &.resize .mvList{
            width: $lg;
            height: 360px;
        }
        .mvTxt {
            animation: startTxtArea 2.1s;
            h2 {
                font-size: 8.5rem;
                white-space: nowrap;
            }
        }
        .mvList {
            height: 100vh;
            @extend %minwidth;
            animation: startMv 2.1s;
            animation-timing-function: ease-in-out;
            transition: all .3s;
            li {
                height: 100vh;
                top: 0;
            }
            .mvImg {
                min-height: 100vh;
                animation: startMvImg 2.1s;
                animation-timing-function: ease-in-out;
            }
        }
        
    }
    #mainTitleArea {
        @extend %minwidth;
        top: calc(50vh + 16rem);
        transition: all .2s;
        transition-delay: 0s;
        h3 {
            font-size: 4.5rem;
            opacity: 1;
        }
        p{
            white-space: pre-wrap;
        }
    }
    .content {
        max-width: $lg;
        margin: 0 auto;
    }
    .icon-left, .icon-right {
        border-radius: 5px;
    }
    .icon-right {
        top: -30px;
        left: -30px;
    }
    .icon-left {
        top: -30px;
        right: -30px;
    }
    .maincontent {
        margin-top: 10rem;
    }
}

@include media-breakpoint-down(lg){
    .mvTxt {
        bottom: 78px;
    }
}


@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }