@use "../../../scss/custom" as *;


@media (min-width: 576px) {  }


@include media-breakpoint-up(lg){
    .fill-lg-dark {
        fill: var(--dark);
    }
    .fill-lg-yellow{
        fill: var(--yellow);
    }
    .dropmenu {
        &::after {
            border-top: 3px solid var(--dark);
        }
    }
    .nav {
        opacity: .95;
        box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
        animation: startHeader 2.5s;
    }
    %mvarea {
        text-align: right;
        position: absolute;
        left: calc(50% - 360px);
        //top: calc(50% - 80px);
        opacity: 0;
        width: 720px;
        height: 160px;
    }
    #mvArea{
        min-width: 1200px;
        height: 100vh;
        &::before{
            @extend %mvarea;
            content: '';
            display: inline-block;
            background: var(--yellow);
            z-index: 100;
            animation: startBox 5s;
            transform: unset;
            transition: none;
        }
        &::after{
            @extend %mvarea;
            content: "DAILYHOPELESS";
            color: var(--dark);
            font-size: 3rem;
            font-family: anton,sans-serif;
            padding: 2rem 2rem 0 0;
            line-height: 3.333;
            box-sizing: border-box;
            z-index: 101;
            animation: startTxt 5s;
        }
        .mvTxt {
            //bottom: calc(50% - 250px);
            animation: startTxtArea 2.1s;
            h2 {
                font-size: 8.5rem;
                white-space: nowrap;
            }
        }
        .mvList {
            //position: absolute;
            //width: 100vw;
            height: 100vh;
            min-width: 1200px;
            animation: startMv 2.1s;
            animation-timing-function: ease-in-out;
            transition: all .3s;
            li {
                height: 100vh;
                top: 0;
            }
            
     
            .mvImg {
                min-height: 100vh;
                animation: startMvImg 2.1s;
                animation-timing-function: ease-in-out;
            }
        }
        
    }
}

@include media-breakpoint-down(lg){
    .mvTxt {
        bottom: 78px;
    }
}


@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }