@use 'animation';

nav a.active {
    position: relative;
    &::before {
        content: '';
        width: 100%;
        position: absolute;
        height: 4px;
        bottom: -5px;
        left: 0;
        background-color: var(--yellow);
    }
}

.dropmenu {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 0;
        border-top: 3px solid var(--white);
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
    }
}

.lang-menu.show{
    display: block;
}
.lang-menu {
    display: none;
    position: absolute;
    right: 0;
    list-style: none;
    background-color: var(--white);
    padding: 1rem 1.5rem;
    text-align: center;
    border: 1px solid var(--dark);
    font-family: anton, sans-serif;
    text-transform: uppercase;
    li {
        margin: .5rem 0;
    }

}
%resize{
    height: 120px;
}
#mvArea {
    max-width: 100vw;
    height: 500px;
    margin-bottom: 2rem;
    &.resize {
        .mvTxt {
            opacity: 0
        }
        .mvList {
            @extend %resize;
        }
    }
    &.resize::before{
        @extend %resize;
    }
}
.mvTxt {
    z-index: 10;
    transition: all .2s;
}


.mvList{
    //position: relative;
    height: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    transition: all .3s;
    li {
        animation: fade 10s linear infinite;
        @at-root &:last-child .mvImg img {
            -o-object-position: -90px 30px!important;
            object-position: -90px 30px!important;
        }
    }
    .mvImg {
        min-height: 500px;
        transition: all .3s;

    }
    .mvImg::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        transform: translateY(-50%);
        top: 50%;
        transition: all .3s;
        z-index: 10;
    }


}

#mainTitleArea{
    top: 15rem;
    h3 {
        font-size: 36px;
    }
}

#mvArea.resize+#mainTitleArea {
    opacity: 1;
    transition-delay: .1s;
    z-index: 10;
}
#mvArea.resize+#mainTitleArea h3 {
    opacity: 1;
}

#gnbArea {
    position: sticky;
    position: -webkit-sticky;
    overflow: auto;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    overflow-x: hidden;
    z-index: 11;
    .gnb {
        white-space: nowrap;
        .gnbItem{
            opacity: .5;
        }
        .gnbItem.current{
            opacity: 1;
        }
    }
}
.truncate{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-inline-box;
}
.imagecontent{
    height: 25rem;
    img {
        border-radius: 5px;
        background-color: var(--dark);
        box-shadow: 4px 4px 4px rgb(0 0 0 / 20%)
    }
    .text{
        z-index: 10;
        bottom: 10px;
        right: 15px;
        opacity: .5;
    }    
}
.button{
    border-radius: 5px;
    svg {
        margin-left: 1rem;
    }
}
.icon-left, .icon-right {
    z-index: 10;
}
.icon-left{
    top: 0;
    right: 0;
}
.icon-right {
    top: 0;
    left: 0;
}

#contact {
    img{
        z-index: -2;
    }
    
    .image::before{
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }
}

