@use 'animation';

nav a.active {
    position: relative;
    &::before {
        content: '';
        width: 100%;
        position: absolute;
        height: 4px;
        bottom: -5px;
        left: 0;
        background-color: var(--yellow);
    }
}

.dropmenu {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 0;
        border-top: 3px solid var(--white);
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
    }
}

.lang-menu {
    position: absolute;
    right: 0;
    list-style: none;
    background-color: var(--white);
    padding: 1rem 1.5rem;
    text-align: center;
    border: 1px solid var(--dark);
    font-family: anton, sans-serif;
    text-transform: uppercase;
    li {
        margin: .5rem 0;
    }

}
#mvArea {
    max-width: 100vw;
    height: 500px;
    margin-bottom: 2rem;
}
.mvTxt {
    z-index: 10;
    transition: all .2s;
}

.mvList{
    //position: relative;
    width: 100%;
    height: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    transition: all .3s;
    li {
        animation: fade 10s linear infinite;
    }
    li:last-child .mvImg img {
        -o-object-position: -90px 30px!important;
        object-position: -90px 30px!important;
    }
    .mvImg {
        min-height: 500px;
        transition: all .3s;

    }
    .mvImg::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
        transform: translateY(-50%);
        top: 50%;
        transition: all .3s;
        z-index: 10;
    }


}




